.card {
  padding: 3rem;
  margin: .5rem;
  height: 270px;
}
.search {
  height: 9rem;
  width: 100%;
  background-color: #2196f3;
}
a {
  font-weight: bold;

  transition: color 300ms;
}
a:hover {
  text-decoration: none;
  color: #2196f3;
}
.bottom-align-text {
  position: absolute;
  bottom: 2rem;
}
.loader {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
  border: 5px solid #eceff1;
  border-radius: 50%;
}

.loader:after {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  padding: 3px;
  border-width: 2px;
  border-style: solid;
  border-color: #7986cb transparent transparent transparent;
  border-radius: 50%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  animation: ringrotate .8s infinite ease-in-out;
  -webkit-animation: ringrotate .8s infinite ease-in-out;
}

@keyframes ringrotate {
  0% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
  }
}
@-webkit-keyframes ringrotate {
  0% {
    transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
    -webkit-transform: rotateZ(360deg);
  }
}

@keyframes pendulum {
  0% {
    transform: rotateZ(-20deg);
    -webkit-transform: rotateZ(-20deg);
  }
  100% {
    transform: rotateZ(20deg);
    -webkit-transform: rotateZ(20deg);
  }
}
@-webkit-keyframes pendulum {
  0% {
    transform: rotateZ(-20deg);
    -webkit-transform: rotateZ(-20deg);
  }
  100% {
    transform: rotateZ(20deg);
    -webkit-transform: rotateZ(20deg);
  }
}
/* #Animation */
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-out;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-out;
}
